

#body {
    font-family: 'Roboto', sans-serif;
}

#top {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#logo {
    color: white;
    background-color: black;
    display: inline-block;
    font-size: 85px;
    font-weight: bold;
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#logo-name {
    font-size: 32px;
    font-weight: bold;
    background-color: white;
    margin: 16px;
}

#navigation a {
    color: black;
    font-size: 32px;
    font-weight: bold;
    padding: 22px
}

#navigation a:hover {
    color: gold;
}

#image {
    max-width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}

#main {
    max-width: 800px;
    margin: auto;
}